<html>
    <head>
        <link rel="stylesheet" href="/static/semantic.min.css"> 
    </head>
<body>
    <h3 class="ui center aligned teal block inverted header">
        My Finances
        <button onclick="location.href='http://localhost:5000/login'" type="button" class="mini circular ui left floated button">
            Log out</button>
    </h3>
    <div class="ui visible right demo vertical inverted sidebar labeled menu">
      <a class="item" href="/dashboard"> Home Page</a>
      <a class="item" href="/transactions"> Transactions</a>
      <a class="item" href="/categories"> Categories</a>
    </div>
    {% block content %}{% endblock %}
</body>
</html>