{% extends "base/layout.html" %}
{% block content %}
    <h1 class="ui teal header">
        TRANSACTIONS
    </h1>
    <a href="/transactions/new">create new</a>
    <table class="ui selectable celled center collapsing compact teal table">
        <thead>
            <tr>
                <th>
                    id
                </th>
                <th>
                    description
                </th>
                <th>
                    category
                </th>
                <th>
                    date
                </th>
                <th>
                    value
                </th>
                <th>
                    origin account
                </th>
                <th>
                    linked transaction
                </th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr id = "transaction-{{transaction.id}}">
                    <td>
                        <a href="/transactions/{{ transaction.id }}">{{ transaction.id }}</a>
                    </td>
                    <td>
                        {{ transaction.description }}
                    </td>
                    <td>
                        {% for category in categories %}
                        {% if transaction.category_id == category.id%}
                        {{ category.name }}
                        {% endif %} 
                        {% endfor %}
                    </td>
                    <td>
                         {{ format_date(transaction.date) }}
                    </td>
                    {% if transaction.value < 0 %}
                        <td class="negative">
                            {{ format_currency(transaction.value) }}
                        </td>
                    {% elif transaction.value >= 0 %}
                        <td class="positive">
                            {{ format_currency(transaction.value) }}
                        </td>
                    {% endif %}                    
                    <td>
                        {% for account in accounts %}
                        {% if transaction.source_accnt_id == account.id %}
                        {{ account.name }}
                        {% endif %} 
                        {% endfor %}
                    </td>                    
                    <td>
                        {% if transaction.link_id is not none %}
                        {% for reverse_transaction in transactions %}
                        {% if reverse_transaction.link_id == transaction.link_id and reverse_transaction.id != transaction.id %}
                        <a href="/transactions/{{ reverse_transaction.id }}">{{ reverse_transaction.id }}</a>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        document.querySelectorAll('tbody tr').forEach((el)=>{
            let linkedID ;
            el.addEventListener('mouseover',(e)=>{
                linkedID = el.children[6].innerText;            
                if (linkedID == ""){
                    return; 
                }
                document.getElementById(`transaction-${linkedID}`).style.background="rgb(240,240,240)"
            })
            el.addEventListener('mouseout',(e)=>{
                if (linkedID == ""){
                    return; 
                }
                document.getElementById(`transaction-${linkedID}`).style.background=null
            })
        })
    </script>
{% endblock %}
