<html>
    <body>
        <form action="/users/save" method="POST">
            <label>Nome:</label>
            <input type="text" name="nome"/>
            <br/>
            <label>Email:</label>
            <input type="text" name="email"/>
            <br/>
            <label>Senha:</label>
            <input type="password" name="senha"/>
            <br/>
            <input type="submit" />
        </form>
        <p> 
            Já tem usuário? <a href="/login">Clique aqui</a>
        </p>
    </body>
</html>