<html>
    <head>
        <link rel="stylesheet" href="/static/semantic.min.css"> 
        <style type="text/css">
            body {
              background-color: #DADADA;
            }
            body > .grid {
              height: 100%;
            }
            .image {
              margin-top: -100px;
            }
            .column {
              max-width: 450px;
            }
          </style>
    </head>
    <body>
        <h3 class="ui center aligned teal block inverted header">
            My Finances
        </h3>
        <form class="ui center aligned form" action="/users/save" method="POST">
            <div class="required four wide field">
              <label>Name</label>
              <input type="text" name="name" placeholder="Name">
            </div>
            <div class="required four wide field">
              <label>Email</label>
              <input type="text" name="email" placeholder="Email">
            </div>
            <div class="required four wide field">
                <label>Password</label>
              <input type="password" name="password" placeholder="Password">
            </div>
            <input type="submit" class="ui teal submit button"  placeholder="Submit"/>
          </form>
        <p> 
            <a href="/login">Log in</a>
        </p>
    </body>
</html>
