{% extends "base/layout.html" %}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="/static/semantic.min.css"> 
        <style type="text/css">
            body {
              background-color: #DADADA;
            }
            body > .grid {
              height: 100%;
            }
            .image {
              margin-top: -100px;
            }
            .column {
              max-width: 450px;
            }
          </style>
    </head>
    <body>
        <form class="ui center aligned form" action="/transactions/save" method="POST">
            <div class="four wide field">
                <input type="hidden" name="id" value="{{ id }}">
                <label>Description:</label>
                <input type="text" name="description" value="{{ description }}"/>
                <br/>
                <label>Choose your category:</label>
                <select class="ui fluid dropdown" name="category_id">
                  <option value="-1">None</option>
                  {% for category in categories %}
                    <option value="{{category[0]}}" {{ 'selected' if category[0] == category_id  else '' }}> {{category[1]}} </option>
                  {% endfor %}
                  
                </select>
            <input type="submit" class="ui teal submit button"  placeholder="Submit"/>
            </form>
    </body>
</html>
</form>
{% endblock %}

