{% extends "base/layout.html" %}
{% block content %}
    <h3 class="ui huge aligned teal header">
        TRANSACTIONS
    </h3>
    <a href="/transactions/new">create new</a>
    <table class="ui center collapsing compact teal table">
        <thead>
            <tr>
                <th>
                    id
                </th>
                <th>
                    description
                </th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>
                        <a href="/transactions/{{ transaction.id }}">{{ transaction.id }}</a>
                    </td>
                    <td>
                        {{ transaction.description }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}