{% extends "base/layout.html" %}
{% block content %}
    <h1 class="ui teal header">
        TRANSACTIONS
    </h1>
    <a href="/transactions/new">create new</a>
    <table class="ui center collapsing compact teal table">
        <thead>
            <tr>
                <th>
                    id
                </th>
                <th>
                    description
                </th>
                <th>
                    category
                </th>
                <th>
                    date
                </th>
                <th>
                    value
                </th>
                <th>
                    origin account
                </th>
                <th>
                    destiny account
                </th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>
                        <a href="/transactions/{{ transaction.id }}">{{ transaction.id }}</a>
                    </td>
                    <td>
                        {{ transaction.description }}
                    </td>
                    <td>
                        {{ transaction.category }}
                    </td>
                    <td>
                        {{ transaction.date.strftime('%d/%m/%Y') }}
                    </td>
                    <td>
                        $ {{ transaction.value }}
                    </td>
                    <td>
                        {{ transaction.source_account }}
                    </td>
                    <td>
                        {{ transaction.destination_account }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}